{% extends 'base.html' %}
 
{% block content %}

<div class="container mt-5 mb-5">

    <h4>Order</h4>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>No</th>
            <th>日付</th>
            <th>価格</th>
          </tr>
        </thead>
        <tbody>
            {%for object in object_list%}
            <tr>
                <th scope="row"><a href="/order/{{object.pk}}/">{{object.pk}}</a></th>
                <td>{{object.created_at}}</td>
                <td>{{object.tax_included}}</td>
            </tr>
            {%endfor%}
          
        </tbody>
      </table>



</div>
{% endblock %}