{% extends 'base.html'%}


{%block content%}
<div class="container">

    <form action="" method="POST">
    {%csrf_token%}

        <input type="text" name="username" class="" placeholder="Username">
        <input type="email" name="email" class="" placeholder="Email" >
        <input type="password" name="password" class="" placeholder="Password">  

        <button type="submit" class="btn btn-dark">
            {%if 'signup' in request.path%}
            Signup
            {%elif 'login' in request.path %}
            Login
            {%endif%}
        </button>
    </form>
    </div>


{%endblock%}